<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Enter A New Flight</h1>
    <h3>Flight</h3>
    <form action="/flights" method="POST">
    <label>Airline
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label><br>
    <label>Airport:
        <select name="airport" value="DEN">
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Flight No.: <input type="number" name="flightNo"></label>
    <br>
    <label>Departing: <input type="datetime-local" name="departs"></label>
    <br><br>
    <input type="submit" value="Add Flight">
    </form>
</body>
</html>